body {
  font-family: 'Poppins' sans-serif;
}

.imgTabla {
  width: 50px;
  height: 50px;
}

.linksCarro {
  margin-top: 20px;
}

.linksCarro a {
  flex: 1;
  text-align: center;
  color: blue !important;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

#tableListaCarrito {
  background-color: rgb(147, 147, 147);
  width: 900px;
  margin-left: 50px;
  margin-top: 20px;
  height: auto;
  border-radius: 0.6rem;
}

.contenedorCarDet {
  display: flex;
}

.contDetail {
  width: 300px;
  height: 310px;
  border-radius: 0.6rem;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #9c9c9c;
}

.boton-carga {
  margin-left: 10px;
  margin-top: 10px;
  width: 93%;
  height: 40px;
  color: #ab0064;
  border-radius: 0.3rem;
  border-color: #ff33c5;
  background-color: white;
}

.boton {
  margin-top: 10px;
  border-radius: 0.3rem;
  margin-left: 40px;
  margin-bottom: 20px;
  height: 45px;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ff00b3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.boton-carga:hover {
  background-color: #c22f85;
  color: #ffffff;
}

@keyframes clic {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.boton:active {
  transform: scale(0.9);
  animation: clic 0.3s forwards;
}

/* -------------------------------------------------- */
.cantidad-input {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  text-align: center;
}

#existencias {
  color: gray;
  
}

.botonMasMenos {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
  border: 1px solid #ff00b3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btnMas {
  background-color: #f3c1d7;
  color: rgb(0, 0, 0);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30%;
  border: 1px solid rgb(255, 0, 242);
}

.btnMenos {
  background-color: #f3c1d7;
  color: rgb(0, 0, 0);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30%;
  border: 1px solid rgb(255, 0, 242);
}

.nombreProduct {
  text-align: left;

}

.botonMasMenos:active {
  transform: scale(0.9);
  animation: clic 0.3s forwards;
}

.numeroCarritoCant {
  width: 40px;
  height: 35px;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid rgb(176, 176, 176);
}

label {
  /*width: 100%;*/
  text-align: center;
}

/* -------------------------------------------------- */
.contBotonPagar {
  width: 180px;
  margin-left: 10px;
}

.scops {
  width: 150px;
}

.imgTable {
  width: 90px;
}

/* Estilos para tabletas */
@media only screen and (max-width: 768px) {
  .contenedorCarDet {
    display: grid;
  }

  .contDetail {
    width: 680px;
    height: 210px;
    border-radius: 0.6rem;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white;
  }

  #tableListaCarrito {
    background-color: rgb(154, 154, 154);
    width: 680px;
    margin-left: 20px;
    margin-top: 20px;
    height: auto;
    border-radius: 0.6rem;
  }

  .nombreProduct {
    font-size: 13px;
  }

  .imgTabla {
    width: 2%;
    height: 20px;
  }

  .linksCarro {
    margin-top: 10px;
  }

  .linksCarro a {
    display: grid;
    text-align: start;
    color: blue !important;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
  }

  .boton-carga {
    margin-left: 10px;
    width: 280px;
    height: 40px;
    background-color: #f3c1d7;
    border-radius: 0.3rem;
    border-color: transparent;
  }

  .contDett {
    margin-left: 30px;
    display: flex;
  }

  .contBtnPago {
    margin-left: 70px;
  }

  .imgTable {
    width: 70px;
  }
}

/* Estilos para celulares */
@media only screen and (max-width: 480px) {
  .contenedorCarDet {
    display: grid;
  }

  .contDetail {
    width: 440px;
    height: 210px;
    border-radius: 0.6rem;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: white;
  }

  #tableListaCarrito {
    background-color: rgb(172, 172, 172);
    width: 440px;
    margin-left: 5px;
    margin-top: 20px;
    height: auto;
    border-radius: 0.6rem;
  }

  .imgTabla {
    width: 2%;
    height: 20px;
  }

  .PrePorTot {
    font-size: 10px;
  }

  .linksCarro a {
    display: grid;
    text-align: start;
    color: blue !important;
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
  }

  .boton-carga {
    width: 120px;
    height: 45px;
    margin-top: 18px;
    background-color: #f3c1d7;
    border-radius: 0.1rem;
    border-color: transparent;
    text-align: center;
    font-size: 14px;
  }
  .botonc {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #ff00b3;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .nombreProduct {
    font-size: 13px;
  }

  .contDett {
    margin-left: 10px;
    display: grid;
  }
  .detPrecios{
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;
  }
  .detPrecios.totProducts{
    font-size: 15px;
  }

  .contBtnPago {
    display: flex;
    margin-left: 1px;
  }
  .wallet-label-container-2OnpcO.svelte-1b1h3kn {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    padding: 0 16px;
    width: 100px !important;
}
  .contBotonPagar {
    width: 50px;
  }
    .imgTable {
    width: 70px;
    font-size: 10px;
    color: transparent;
  }

  .btnMas {
    background-color: #f3c1d7;
    color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 30%;
    font-size: 11px;
    border: 1px solid rgb(255, 0, 242);
  }

  .btnMenos {
    background-color: #f3c1d7;
    color: rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 30%;
    font-size: 11px;
    border: 1px solid rgb(255, 0, 242);
  }

  .cantidad-input {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 10 0px;
    justify-content: center;
    text-align: center;
  }

  .numeroCarritoCant {
    width: 25px;
    height: 20px;
    text-align: c;
    font-size: 11px;
    border-radius: 0.3rem;
    border: 1px solid rgb(176, 176, 176);
  }

  #existencias {
    color: gray;
    font-size: 12px;
  }

  .cantPorp{
    width: 100px;
  }

}