.contValid{
  display: grid;
}
.txtVal{
    text-align: center;
    margin-top: 20px;
}
#tablaValidacion{
  background-color: white;
  width: 80%;
  height: auto;
  margin-left: 10%;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
}

.botonValidar {
    margin-top: 10px;
    border-radius: 0.3rem;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 45px;
    width: 80px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ff00b3;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .validarVenta {
    color: #ab0064;
    border-color: #ff33c5;
  }
  
  .validarVenta:hover {
    background-color: #c22f85;
    color: #ffffff;
  }
  
  @keyframes clic {
    0% {
      transform: scale(1);
    }
  
    10% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .botonValidar:active {
    transform: scale(0.9);
    animation: clic 0.3s forwards;
  }

  @media only screen and (max-width: 768px) {
    .contValid{
      display: grid;
    }
    .txtVal{
        text-align: center;
        margin-top: 10px;
    }
    #tablaValidacion{
      background-color: white;
      width: 80%;
      height: auto;
      margin-left: 10%;
      border-radius: 0.6rem;
      border: 1px solid #ccc;
      box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
      font-size: 14px;
    }
    .boton {
      margin-top: 10px;
      border-radius: 0.3rem;
      margin-left: 40px;
      margin-bottom: 20px;
      height: 25px;
      display: inline-block;
      margin: 10px;
      padding: 10px 20px;
      font-size: 26px;
      text-decoration: none;
      color: #000000;
      background-color: #ffffff;
      border: 1px solid #ff00b3;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
    .validar {
      color: #ab0064;
      border-color: #ff33c5;
    }
  }

  /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

  @media only screen and (max-width: 480px) {
    .contValid{
      display: grid;
    }
    .txtVal{
        text-align: center;
        margin-top: 10px;
    }
    #tablaValidacion{
      background-color: white;
      width: 80%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 0.6rem;
      border: 1px solid #ccc;
      box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
      font-size: 9px;
    }
    .botonValidar {
      width: 25px;
      height: 20px;
      display: inline-block;
      margin: 10px;
      font-size: 14px;
      background-color: #ffffff;
      border: 1px solid #ff00b3;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      text-align: center;
    }
    .validarVenta {
      color: #ab0064;
      border-color: #ff33c5;
      font-size: 14px;
    }
  }
