* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contEnvio{
    background: #c22f85;
    height: 30px;
    padding: 0.15rem calc((100vw - 1500px) / 2);
    display: flex;
}
.contEnvio .redesSociales .red{
    position: relative;
    height:22.5px;
    width: 22.5px;
    margin: 0 8px;
    padding: 3px 0px;
    display: inline-flex;
    text-decoration: none;
    color: #e0c8d8;
    border-radius: 50%;
    transition: all 0.3s;
    box-shadow: -2px -2px 5px rgb(223, 129, 195), 2px 2px 3px #b8649e;
}
.contEnvio .redesSociales .red:hover{
    background: #e0c8d8;
    color: #c22f85;
}
.contEnvio .textoEnvioGratis{
    font-size: 11px;
    letter-spacing: 00.7px;
    color: white;
    animation:slidein 6s linear infinite;
}

@keyframes slidein {
    from {
        margin-left: 45%;
    }to{
        margin-left: 20%;
    }
}
.conttop {
    background:white ;
    text-align: center;
}
.conttop img{
    width: 115px;
    margin-top: 2px;
}

.contOp {
    list-style: none;
    display: flex; /* Cambiamos a flexbox para alinear elementos horizontalmente */
}

.link {
    font-size: 13px !important;
    color: rgb(34, 32, 32);
    letter-spacing: 0.7px;
    font-weight: 500;
    cursor: pointer;
    opacity: .9;
}

.link::after{
    content: '';
    width: 0;
    height: 4px;
    background-color: #c22f85;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
} 
.link:hover::after{
    width: 100%;
    right: 0;
} 
.iconosC{
    padding: 0px 15px;
    color: #3B3D3D;
    cursor: pointer;
    position: relative;
    transition: color .5s;
}
.search-form-menu {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #C74D9D;
	border-radius: 2rem;
	background-color: #fff;
	height: 32px;
	overflow: hidden;
}
.search-form-menu input {
	outline: none;
	font-family: inherit;
	border: none;
	padding: 0px 10px;
	color: #777;
}

.search-form-menu input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form-menu .btn-search {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #fff;
	height: 100%;
	padding: 0rem;
}

.btnAcceder{
    padding: 5px 25px;
    margin: 5px 15px;
    font-size: 13px;
    font-weight: 500;
    background-color: #c22f85;
    color: #ffff;
    cursor: pointer;
    position: relative;
    border: 2px solid #ffff;
    border-radius: 4px;
}


@media only screen and (max-width: 767px) {

    .contEnvio{
        height: 45px;
        display: grid;
        padding: 0.15rem calc((100vw - 1100px) / 2);
    }
    .contEnvio h1{
        font-size: 8px;
        letter-spacing: 00.6px;
        padding: 2px;
    }
    @keyframes slidein {
        from {
            margin-left: 35%;
        }to{
            margin-left: 15%;
        }
    }
    
    .contEnvio .redesSociales .red{
        height:20px;
        margin: 0 5px;
        padding: 2.3px 2.3px;
    }
    
    .search-form-menu {
        width: 50%;
    }
    
}