@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.containerAdmin{
    min-height: 100vh;
    background: rgb(0, 0, 0);
    text-align: center;
}
.titleAdminP {
    padding:3.5% ;
    font-size: 22px;
    font-weight: 900px;
    letter-spacing: 1.9px;
    color: aliceblue;
}
.wrapperHead{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.wrapperHead .divSearch {
    display: flex;
}
.wrapperHead .fondo {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 40%;
    height: 40px;
    background: #EEEEEE;
    border-radius: 8px;
    padding:2px 6px;
    box-shadow: 0 0px 10px rgb(0, 0, 0, .3);
    transition: .5s ease;
}
.iconS {
    font-size: 20px;
    cursor: pointer;
}
.wrapperHead .fondo input {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
}
.wrapperHead .divBtn {
    justify-items: end;
}
.wrapperHead .divBtn button {
    width: 30%;
    height: 40px;
    color:#f0f0f0;
    background: #c22f85;
    cursor: pointer;
    border:2px #F8F9F9;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-left: 70%;
}

.wrapperAdminP {
    width: 90%;
    margin:2% 5%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4%;
    padding: 1%;
}
.wrapperAdminP .cardAdmin {
    background-color: #0a0a0c;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.wrapperAdminP .cardAdmin img {
    width: 55%;
}
.wrapperAdminP .cardAdmin h6 {
    font-size: 14px;
    color: #EEEEEE;
}
.wrapperAdminP .cardAdmin p {
    font-size: 14px;
    color: #EBEDEF;
}
.wrapperAdminP .cardAdmin .edit {
    width: 75%;
    background-color:#f3c1d7;
    font-size: 15px;
}

.wrapperAdminP .cardAdmin .inha {
    margin-top: 4%;
    font-size: 14px;
    width: 75%;
    background: #ffff;
    color: #c22f85;
    border: 1px solid #c22f85;
    border-radius: 4px;
}
.wrapperAdminP .cardAdmin .ha {
    margin-top: 4%;
    font-size: 14px;
    width: 75%;
    background: #ffff;
    color: #888;
    border: 1px solid #888;
    border-radius: 4px;

}
.modalH h3{
    color: #c22f85;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.divModal {
    display: grid;
}
.divModal label{
    font-size: 14px;
    color: #0a0a0c;
    letter-spacing: 0.5px;
}
.divModal .divFlex{
    display: flex;
    gap: 5%;
    justify-content: center;
    
}
.labelModal{
    margin-left: 5%;
}
.inputModal{
    width: 20%;
    margin-left: 40%;
}

.imagenesA img {
    width: 40%;
}
.imagenesA{
    width: 80%;
    margin: 0 10%;
}
.imgModal{
    height: 45px;
}
.botonesModal {
    justify-content: center;
}
  .enviar {
    background: #ffff;
    color: #c22f85;
    border: 1px solid #c22f85;
    border-radius: 4px;
  }
  .cancel {
    background: #ffff;
    color: #888;
    border: 1px solid #888;
    border-radius: 4px;
  }
.editarImg{
    width: 80%;
    background: #c22f85;
    color: #ffff;
    border: 1px solid #ffff;
    margin-left: 10%;
    border-radius: 4px;
}
.enviarI {
    background: #c22f85;
    color: #ffff;
    border: 1px solid #c22f85;
    border-radius: 4px;
    padding: 10%;
}
@media only screen and (min-width: 768px) and (max-width:1023px){

    .titleAdminP {
        font-size: 19px;
    }
    .wrapperHead .divSearch {
        display: flex;
    }
    .wrapperHead .fondo {
        width: 50%;
        height: 35px;
    }
    .wrapperHead .divBtn {
        justify-items: end;
    }
    .wrapperHead .divBtn button {
        width: 40%;
        height: 35px;
        margin-left: 60%;
    }
    
    .wrapperAdminP {
        margin:2% 4%;
    }
    .wrapperAdminP .cardAdmin img {
        width: 60%;
    }
    .wrapperAdminP .cardAdmin h6 {
        font-size: 13.5px;
    }
    .wrapperAdminP .cardAdmin p {
        font-size: 13.5px;
    }
    .wrapperAdminP .cardAdmin .edit {
        width: 75%;
        font-size: 13px;
    }
    
    .wrapperAdminP .cardAdmin .inha {
        margin-top: 6%;
        font-size: 13px;
    }
    .wrapperAdminP .cardAdmin .ha {
        margin-top: 6%;
        font-size: 13px;
    }
    .modalH h3{
        color: #c22f85;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
    }
    .divModal {
        display: grid;
    }
    .divModal label{
        font-size: 14px;
        color: #0a0a0c;
        letter-spacing: 0.5px;
    }
    .divModal .divFlex{
        display: flex;
        gap: 5%;
        justify-content: center;
        
    }
    .labelModal{
        margin-left: 5%;
    }
    .inputModal{
        width: 20%;
        margin-left: 40%;
    }
    
    .imagenesA img {
        width: 40%;
    }
    .imagenesA{
        width: 80%;
        margin: 0 10%;
    }
    .imgModal{
        height: 45px;
    }
    .botonesModal {
        justify-content: center;
    }
      .enviar {
        background: #ffff;
        color: #c22f85;
        border: 1px solid #c22f85;
        border-radius: 4px;
      }
      .cancel {
        background: #ffff;
        color: #888;
        border: 1px solid #888;
        border-radius: 4px;
      }
    .editarImg{
        width: 80%;
        background: #c22f85;
        color: #ffff;
        border: 1px solid #ffff;
        margin-left: 10%;
        border-radius: 4px;
    }
    .enviarI {
        background: #c22f85;
        color: #ffff;
        border: 1px solid #c22f85;
        border-radius: 4px;
        padding: 10%;
    }
}
@media only screen and (max-width: 767px) {
    .titleAdminP {
        font-size: 16px;
    }
    .wrapperHead .fondo {
        width: 80%;
        height: 25px;
    }
    .wrapperHead .fondo input {
        font-size: 14px;
    }
    .wrapperHead .divBtn button {
        width: 60%;
        height: 25px;
        margin-left: 40%;
        font-size: 13px;
    }
    
    .wrapperAdminP {
        margin: 5%;
        grid-template-columns: repeat(2, 1fr);
    }
    .wrapperAdminP .cardAdmin img {
        width: 50%;
    }
    .wrapperAdminP .cardAdmin h6 {
        font-size: 13px;
    }
    .wrapperAdminP .cardAdmin p {
        font-size: 13px;
    }
    .wrapperAdminP .cardAdmin .edit {
        width: 75%;
        font-size: 13px;
    }
    
    .wrapperAdminP .cardAdmin .inha {
        margin-top: 6%;
        font-size: 13px;
    }
    .wrapperAdminP .cardAdmin .ha {
        margin-top: 6%;
        font-size: 13px;
    }
    .modalPr{
        width: 90%;
        margin-left: 5%;
    }
    .modalH h3{
        font-size: 16px;
    }
    .divModal label{
        font-size: 13px;
        color: #0a0a0c;
        letter-spacing: 0.5px;
    }
    .divModal .divFlex{
        display: flex;
        gap: 5%;
        justify-content: center;
        
    }
    .labelModal{
        margin-left: 5%;
    }
    .inputModal{
        width: 20%;
        margin-left: 40%;
    }
    
    .imagenesA img {
        width: 40%;
    }
    .imagenesA{
        width: 80%;
        margin: 0 10%;
    }
    .imgModal{
        height: 45px;
    }

}
