.boton {
    margin-top: 10px;
    border-radius: 0.3rem;
    margin-left: 40px;
    margin-bottom: 20px;
    height: 45px;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ff00b3;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.aceptar {
    border-radius: 0.3rem;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    height: 45px;
    color: #ab0064;
    border-color: #ff33c5;
    background-color: #ffffff;
    border-style: solid;
}

.aceptar:hover {
    background-color: #c22f85;
    color: #ffffff;
}

@keyframes clic {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.boton:active {
    transform: scale(0.9);
    animation: clic 0.3s forwards;
}

.botonA{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;

}

.e{
    margin-left: 10px;
}

.negritas{
    font-weight: bold;
}


.misTitulos {
    font-size: 22px;
    font-weight: 900px;
    letter-spacing: 1.9px;
    color: rgb(34, 32, 32);
}