* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contC {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
.contC .NoDispo{
    position: relative;
    margin-top: 10%;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 13%;
    text-align: center;
    font-size: 22px;
    font-weight: 900px;
    letter-spacing: 1.9px;
    color:rgb(34, 32, 32);
}
.wrapperCatalogo {
    position: relative;
    display: grid;
    margin-top: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 5%;
}
.wrapperCatalogo .card {
    position: relative;
    width: 75%;
    height: 335px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
    /*background:#F8F9F9;*/
    border-radius: 10px;
    overflow: hidden;
}

.wrapperCatalogo .card::after {
    content: 'VS';
    position: absolute;
    top: -3%;
    left: -11%;
    font-size: 12.5em;
    font-style: oblique;
    font-weight: bold;
    color: #f8daf2;
}

.wrapperCatalogo .card .img-box {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 99;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.wrapperCatalogo .card:hover .img-box {
    top: -13%;
    transform: translateY(-13%);
    width: 85%;
    height: 88%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

.wrapperCatalogo .card .img-box img{
    position: absolute;
    width: 98%;    
}

.wrapperCatalogo .card .details {
    position: absolute;
    text-align: center;
    transition: 0.8s;
}
.wrapperCatalogo .card:hover .details {
    height: 210px;
}

.details .nameP {
    position: relative;
    margin-top: 20px; 
}

.nameProduct{
    font-size: 15px;
    letter-spacing: .7px;
    color:black;
    opacity: 0.85;
}

.details .calf span{
    color: goldenrod;
    font-size: 12.5px;
}

.details .oferta h3{
    text-decoration: line-through;
    color: gray;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
}
.details .oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-top: 2px;
    visibility: hidden;
}
.card:hover .details .oferta {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}

.details .price .precioActivo {
    color: #c22f85;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    
}
.details .price {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    margin-top: 5px;
    visibility: hidden;
}
.card:hover .details .price {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
}
.details .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.details .link a{
    text-decoration: none;
    background: #363753;
    font-weight: 500;
    font-size: 10px;
    color: #F8F9F9;
    padding: 5px 15px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
.linkOferta{
    width: 28%;
    margin:-5% 0% 0% 2%;
}
.linkOferta2{
    width: 30%;
    /* height: 1%; */
    margin:-5% 0% 0% 2%;
}
.linkOferta h2{
    height: 25px !important;
    text-decoration: none;
    background: #c22f85;
    font-weight: 500;
    font-size: 10.5px;
    color: #F8F9F9;
    padding: 5px;
    border-radius: 5px;
}
.linkOferta2 h2{
    height: 25px !important;
    text-decoration: none;
    background: #c22f85;
    font-weight: 500;
    font-size: 10px;
    color: #F8F9F9;
    padding: 5px;
    border-radius: 5px;
}
.card:hover .details .link a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}
.favoritos {
    text-decoration: none;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 2%;
}

.card:hover .details .favoritos {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .contC {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .contC .NoDispo{
        position: relative;
        margin-top: 12%;
        margin-bottom: 15%;
    }
    .wrapperCatalogo {
        grid-template-columns: repeat(3, 1fr);
    }
    .wrapperCatalogo .card {
        position: relative;
        width: 82%;
        height: 320px;
        margin-left: 9%;
        margin-right: 9;
        /*background:#F8F9F9;*/
    }
    .wrapperCatalogo .card:hover .img-box {
        top: -10%;
        transform: translateY(-10%);
        width: 70%;
        height: 80%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .wrapperCatalogo .card::after {
        content: 'VS';
        position: absolute;
        top: -3%;
        left: -7.5%;
        font-size: 12em;
    }
    .details .nameP {
        margin-top: 10px; 
    }
    .wrapperCatalogo .card:hover .details {
        height: 195px;
    }

}

@media only screen and (max-width: 767px) and (min-width: 335px) {
    .contC {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .contC .NoDispo{
        position: relative;
        margin-top: 15%;
        margin-bottom: 22%;
        text-align: center;
        font-size: 18px;
    
    }
    .wrapperCatalogo {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .wrapperCatalogo .card {
        width: 90%;
        height: 260px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .wrapperCatalogo .card::after {
        font-size: 9em;
        left: 3%;
        top: -15%;
    }
    .wrapperCatalogo .card .img-box {
        top: -11%;
        transform: none;
        width: 95%;
        margin-left: 2.5%;
        transition: none;
    }
    .wrapperCatalogo .card:hover .img-box {
        top: -11%;
        transform: none;
        width: 95%;
        height: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .wrapperCatalogo .card .img-box img{
        width: 85%;    
    }
    .wrapperCatalogo .card .details {
        height: 135px;
        transition: none;
    }
    .wrapperCatalogo .card:hover .details {
        height: 135px;
    }
    .card:hover .details .nameProduct{
        font-size: 12px;
    }
    .details .nameP{
        margin-top: 20px;
    }
    .nameProduct {
        font-size: 12px;
    }
    .details .calf span{
        font-size: 9.5px;
    }
    .details .oferta h3{
        font-size: 10px;
    }
    .details .oferta {
        opacity: 1;
        margin-top: 2px;
        visibility: visible;
    }
    .card:hover .details .oferta {
        opacity: 1;
        visibility: visible;
        transition-delay: none;
    }
    .details .price h3 {
        font-size: 10.5px;
    }
    .details .price {
        opacity: 1;
        visibility: visible;
        margin-top: 0px;
    }
    .card:hover .details .price {
        opacity: 1;
        visibility: visible;
        transition-delay:none;
    }
    .details .link {
        margin-top: 0%;
    }
    .details .link a{
        font-size: 0px;
        padding: 0px 0px;
        border-radius: 5px;
        opacity: 0;
        transform: none;
        transition: none;
        visibility: hidden;
    }
    .card:hover .details .link a {
        opacity: 0;
        transform: none;
        transition-delay: none;
    }
    .details .favoritos {
        opacity: 1;
        transform: none;
        transition: none;
        margin-top: -2%;
    }
    .card:hover .details .favoritos {
        opacity: 1;
        transform: none;
        transition-delay: none;
        cursor: pointer;
    }
    .linkOferta{
        width: 35%;
        margin:-7% 0% 0% 2%;
    }
    .linkOferta h2{
        height: 22px !important;
        font-size: 10px;
    }

}

@media only screen and (max-width: 334px) {
    .contC {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .wrapperCatalogo {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .wrapperCatalogo .card {
        width: 90%;
        height: 260px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .wrapperCatalogo .card::after {
        font-size: 8em;
        left: -5%;
        top: -10%;
    }
    .wrapperCatalogo .card .img-box {
        top: -11%;
        transform: none;
        width: 95%;
        margin-left: 2.5%;
        transition: none;
    }
    .wrapperCatalogo .card:hover .img-box {
        top: -11%;
        transform: none;
        width: 95%;
        height: 80%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .wrapperCatalogo .card .img-box img{
        width: 85%;    
    }
    .wrapperCatalogo .card .details {
        height: 135px;
        transition: none;
    }
    .wrapperCatalogo .card:hover .details {
        height: 135px;
    }
    .card:hover .details .nameProduct{
        font-size: 12px;
    }
    .details .nameP{
        margin-top: 10px;
    }
    .nameProduct {
        font-size: 12px;
    }
    .details .calf span{
        font-size: 9.5px;
    }
    .details .oferta h3{
        font-size: 10px;
    }
    .details .oferta {
        opacity: 1;
        margin-top: 2px;
        visibility: visible;
    }
    .card:hover .details .oferta {
        opacity: 1;
        visibility: visible;
        transition-delay: none;
    }
    .details .price h3 {
        font-size: 10.5px;
    }
    .details .price {
        opacity: 1;
        visibility: visible;
        margin-top: 0px;
    }
    .card:hover .details .price {
        opacity: 1;
        visibility: visible;
        transition-delay:none;
    }
    .details .link {
        margin-top: 0%;
    }
    .details .link a{
        font-size: 0px;
        padding: 0px 0px;
        border-radius: 5px;
        opacity: 0;
        transform: none;
        transition: none;
        visibility: hidden;
    }
    .card:hover .details .link a {
        opacity: 0;
        transform: none;
        transition-delay: none;
    }
    .details .favoritos {
        opacity: 1;
        transform: none;
        transition: none;
        margin-top: -2%;
    }
    .card:hover .details .favoritos {
        opacity: 1;
        transform: none;
        transition-delay: none;
        cursor: pointer;
    }
    .linkOferta{
        width: 35%;
        margin:-7% 0% 0% 2%;
    }
    .linkOferta h2{
        height: 22px !important;
        font-size: 10px;
    }

}
