
.contHis{
    position: relative;
    margin-top: 3%;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3%;
    text-align: center;
}
.titleHistorial {
    font-size: 22px;
    font-weight: 900px;
    letter-spacing: 1.9px;
    color:rgb(34, 32, 32);
}
table {
    width: 90%;
    table-layout: auto;
    margin: 30px auto;
    text-align: center;
    color: #242424;
    border: 1px solid #F4F6F6;
}
table th {
    padding: 10px;
    background-color: #F4F6F6;
    color: #212222;
    font-weight: 600;
    font-size: 18px;
}
table td {
    font-size: 15px;
    font-weight: 400;
    padding: 0.3em;
}
table td img{
    width: 28%;
}
table td h5{
    color: green;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
table td h6{
    color: brown;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
@media only screen and (min-width: 768px) and (max-width:1023px){
    .contHis{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .titleHistorial {
        font-size: 19px;
    }
    table {
        width: 95%;
        table-layout: auto;
        margin: 20px auto;
    }
    table th {
        padding: 8px;
        font-size: 15px;
    }
    table td {
        font-size: 12px;
    }
    table td h5{
        font-size: 13.5px;
    }
    table td h6{
        font-size: 13.5px;
    }
}
@media only screen and (max-width: 767px) {
    .contHis{
        width: 96%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .titleHistorial {
        font-size: 16px;
    }
    table {
        width: 98%;
        margin: 20px auto;
    }
    table th {
        padding: 6px;
        font-size: 12px;
    }
    table td {
        font-size: 10px;
    }
    table td img{
        width: 25%;
    }
    table td h5{
        font-size: 12px;
    }
    table td h6{
        font-size: 12px;
    }
}