table{
    width: 800px;
    /* font-family: sans-serif; */
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 10px;
}
.h5{
    
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}

.verde{
    color: green;
}
.azul{
    color: blue;
}
.pendiente{
    color: orange;
}

.titulotab{
    width: 800px;
    /* font-family: sans-serif; */
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #ffffff;
    border-radius: 10px;
}
.shocking-pink{
    color: #fef1fb;
    color: #fee5f8;
    color: #ffcaf4;
    color: #ff9fe9;
    color: #ff63d7;
    color: #ff1fbc;
    color: #f012a3;
    color: #d10584;
    color: #ad076c;
    color: #8f0c5c;
    color: #580034;
    --arapawa-50: #f1f2ff;
--arapawa-100: #e5e5ff;
--arapawa-200: #ced0ff;
--arapawa-300: #a7a7ff;
--arapawa-400: #7d76ff;
--arapawa-500: #533fff;
--arapawa-600: #3d18ff;
--arapawa-700: #2d07fa;
--arapawa-800: #2505d2;
--arapawa-900: #2006ac;
--arapawa-950: #0c0066;
}
.tamanioinput{
    width: 290px;
}

.h1estilos{
    color: #ffffff !important;
    padding: 10px;
}
th,
td{
    background-color: #df9fb9;
    padding: 15px;
    color: rgb(255, 255, 255);
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* th{
    text-align: left;
} */

thead th{
    background-color: #ffe4e8;
}

tbody tr:hover{
    background-color: #e78ed1;
}

tbody td{
    position: relative;
}

/* tbody td:hover::before{
    content:"" !important;
    position: absolute !important;
    background-color: #ffffff33 !important;
    left: 0 !important;
    right: 0 !important;
    top: -9999px !important;
    bottom: -9999px !important;
    z-index: -1 !important;
} */