* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mincontenido{
    min-height: 200px;
}
.contHis{
    position: relative;
    margin-top: 3%;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 10%;
    text-align: center;
}
#titleHistorialClient {
    font-size: 22px;
    font-weight: 900px;
    letter-spacing: 1.9px;
    color:rgb(34, 32, 32);
    margin-bottom: 10px;
}
.wrapperList{
    position: relative;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.125);
    margin: 3% 10%;
}
.wrapperEstado{
    display: flex;
    justify-content: center;
    padding: 2% 0;
}
.wrapperEstado .estadoCompra{
    background: #086908;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.wrapperEstado h5{
    font-size: 15px;
    letter-spacing: 0.7px;
    margin-left: 1%;
    opacity: 0.9;
}
.tableHistorial {
    width: 80%;
    table-layout: auto;
    margin: 2% auto;
    text-align: center;
    color: #242424;
    border: 1px solid #F4F6F6;
    text-decoration: none;
}
.wrapperList .tableHistorial th {
    padding: 10px;
    background-color: #F4F6F6;
    color: #212222;
    font-weight: 550;
    font-size: 14.5px;
}
.wrapperList .tableHistorial td {
    font-size: 15px;
    font-weight: 400;
    padding: 0.3em;
}
.wrapperList .tableHistorial td img{
    width: 12%;
}

.wrapperList .wrapperInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 5% 0 2% 0;
}
.wrapperInfo h2{
    color: #212222;
    font-weight: 550;
    font-size: 14.5px;
}

@media only screen and (min-width: 768px) and (max-width:1023px){
    .contHis{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .titleHistorial {
        font-size: 19px;
    }
    .wrapperList{
        width: 100%;
        margin: 3% 0%;
    }
    .wrapperEstado .estadoCompra{
        width: 18px;
        height: 18px;
    }
    .wrapperEstado h5{
        font-size: 14px;
    }
    .wrapperList table {
        width: 95%;
    }
    .wrapperList table th {
        padding: 15px;
        font-size: 13.5px;
    }
    .wrapperList table td {
        font-size: 14px;
    }
    .wrapperInfo h2{
        font-size: 13.5px;
    }
}
@media only screen and (max-width: 767px) {
    .contHis{
        width: 93%;
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
    .titleHistorial {
        font-size: 16px;
    }
    .wrapperList{
        width: 98%;
        margin: 3% 1%;
    }
    .wrapperEstado .estadoCompra{
        width: 13px;
        height: 13px;
    }
    .wrapperEstado h5{
        font-size: 13px;
    }
    .wrapperList table {
        width: 95%;
    }
    .wrapperList table th {
        padding: 6px;
        font-size: 12.5px;
    }
    .wrapperList table td {
        font-size: 12px;
    }
    .wrapperList table td img{
        width: 50%;
    }
    .wrapperInfo h2{
        font-size: 12.5px;
    }
}